/****** General ***********/
/* Réinitialisation des marges et des rembourrages pour tous les éléments */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {/* Utilisation de box-sizing: inherit pour hériter du modèle de boîte défini par l'élément parent */

    box-sizing: border-box;/* Assure que la largeur et la hauteur incluent le padding et la bordure */
}

* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
.titre-description h3 {
    font-size:  22px;/*equivalent a 22px*/
}
.titre-description p {
    font-size: 16px;
}

.main-container {
    max-width: 1440px;
    box-sizing: border-box;

}
/********Logo*******/
.logo {  
    width: 61.09px; /* la largeur */
    height: 19px;
}
.main-header {
    display: flex; /*  Flexbox pour organiser les éléments */
    justify-content: space-between; /* Aligne les éléments sur les extrémités de l'en-tête */
    align-items: center; /* Centre les éléments verticalement */
    height: 79px; /*overflow A revoir */
  }

  /******Menu******/

.menu ul {
    display: flex; 
    list-style-type: none; /* Supprime les puces de la liste */
    gap:68px;
}
.menu  ul li {
    font-family: 'Raleway';
}    

.menu ul li {
    position: relative; /* Position relative pour faciliter le positionnement de la sous-ligne */

}
.menu ul li::before {
    content: ''; /* Ajoute un contenu vide */
    position: absolute; /* Position absolue par rapport à l'élément parent */
    top: -20px; /* Distance de la sous-ligne par rapport au bas de l'élément li */
    left: 0; /* Alignement de la sous-ligne sur la gauche */
    right: 0;
    bottom: 0;
 /* Longueur de la sous-ligne */
    height: 2px; /* Épaisseur de la sous-ligne */
    background-color: rgba(242, 242, 242, 1);
}

.menu ul li:hover::before {
    background-color: #0065FC; /* Changer la couleur de la ligne lorsqu'il est survolé */
}
  
/* Styles à appliquer lorsque survolé */
.menu ul li:hover {
  color:rgba(0, 101, 252, 1);
}
/*********************************/

/*************barre de recherche *************/
.introduction{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.barre-recherche {
    display: flex;
    align-items:  center;
   
}
input[disabled] { /*Désactiver le champ pour ne  pas pouvoir le modifier */
    font-weight: bold;
    color:black;
    font-size: 18px;
    padding-left: 20px;    /* Autres styles de mise en forme ici */
}
.barre-recherche input {
    width: 377px ;
    height: 49px;
    border: 1px rgba(242, 242, 242, 1);
}

.barre-recherche .search-button {
    border-radius: 0 15px 15px 0; /* Arrondi uniquement le coin droit */
    background: rgba(0, 101, 252, 1);
    cursor: pointer;
    width:  132px;
    height:49px;
    border-left: none; /* Supprimer la bordure droite pour le bouton */
    color: white;
    font-size: 18px;
    font-weight: bold; /* Appliquer l'effet gras */

}
/*************icone de localisation*******/
.barre-recherche .fa-location-dot {
    height: 49px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 242, 242, 1);
    outline: none;
    border: solid 1px #F2F2F2;
    color:rgb(14, 14, 14);
    border-radius: 15px 0 0 15px; /* Arrondi uniquement le coin droit */
}

.fa-location-dot {
    width: 14px;
    height: 18px;
}
/********cacher l'icone de recherche version mobile*******/
.barre-recherche .fa-magnifying-glass {
    display: none;
}

/*************filtre******/
.filtre {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;

}
/**************Economique,Familial, Romantique...******/
.lienfiltre {
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 10px 20px; /* Ajoute un peu d'espace autour du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    display: inline-block; /* Assure que le lien se comporte comme un bloc */
    align-items:center;
    font-weight: bold;
}

.lienfiltre:hover {
    /* Styles à appliquer lorsque survolé */
    background-color: rgba(222, 235, 255, 1)

}

.lienfiltre .fa-solid {
    margin-right: 10px;
}


.info {
    display: flex; /* Utilisation de Flexbox pour aligner les éléments en ligne */
    align-items: center; /* Centre les éléments verticalement */
    gap:10px;
    margin-bottom: 35px;
}

/****************l'icone i information*****/
.fa-info {
    min-width: 24px;
    height: 24px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 50%; /* Arrondissez les coins pour créer un cercle */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Désactvier les effets des liens ***/
a {
    color: inherit;
    text-decoration: none;
}


.section-title {
    font-size: 22px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;/****espace entre les deux cartes hébergement et populaire****/
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
/***placer les cartes d'hebergements ***/
.hebergements-cards a {
    flex: 1 1 250px;
}

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: flex;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;/*Pour passer à la ligne si l'espace ne suffira pas */

}

.hebergements-cards .card-title {
    margin-top: 10px;
}

.affichage {
    font-size: 18px;
    font-weight: bold;

}

.hebergements .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

article .card-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 5px; /****placer les textes et les étoiles au meme niveau ***/
}

.hebergements-cards .card-rating {
    margin: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.image  {
    border-radius: 20px 20px 0px 0px;
    width:100%;
    height: 124px;
}
/*******activité*****/
.image-activite  {
    border-radius: 20px 20px 0px 0px;
}
.card .image-activite {
    object-fit: cover;
}
.activite {
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.activite .activite-cards {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
    
}

.card-act {/*la taille du carte*/
    flex:1 1 auto;
    width: 297.5px;
    height: 439px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre avec un léger flou */
    border-radius: 20px 20px 20px 20px;

}

.image-activite {
width: 297.5px;
height:380px;
}

article .card-txtact {
margin: 10px;
}

/*************footer**********/

.footer {
    display: flex;
    align-items: center; /*Pour aligner verticalement les éléments sur la lign*/
    background-color: rgba(242, 242, 242, 1);
    padding:20px;
}

/* Définit la largeur de chaque élément */
.footerpart1 {
    flex-basis: 35%; 
}

/*********Pour l'espacement entre les paragraphes ***********/
article .card-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .filtre {
        flex-direction: column; /* Changer la direction en colonne */
        align-items: flex-start; /* Aligner les éléments sur le côté gauche */
    }
    .lien {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
    }
    
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:30px;
    }

    .hebergements-cards {
        display: flex;
        align-items: center;
        gap:30px;
        flex-wrap: wrap;
    }

    /*.hebergements-and-populaires .hebergements {
        background-color: rgba(255, 255, 255, 1)        ;
       
    }*/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;

    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /******Activité******/
   .activite {
    padding-left: 25px;
    padding-right: 25px;/*faire la meme chose dans le destkop*/
   }
    .card .image-activite {
        object-fit: cover;
    }
    
    .card-act {/*la taille du carte*/
    width: 193.5px;
    height: 270px;
    }

    .image-activite {
    width: 193.5px;
    height:200px;
    }
    article .card-txtact {
    margin: 10px;
    }

}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
header ,.titre-description {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}

.main-header .logo {
    margin: 15px;
}
main {
    margin-top: 20px; /**Pour faire descendre le contenu par rapport le menu */

}
.menu {
    width: 100%;
}

.menu ul {
    display: flex; /* Utilise Flexbox pour organiser les éléments de la liste horizontalement */
    gap:0;
}

.menu ul li::before {
        display: none;
}

.menu ul li {
    position: relative; /* Position relative pour faciliter le positionnement de la sous-ligne */
    padding-bottom:15px;
    flex: 1 1 auto;
    text-align: center;
}
.menu ul li::after {
    content: ''; /* Ajoute un contenu vide */
    position: absolute; /* Position absolue par rapport à l'élément parent */
    bottom: 0; /* Distance de la sous-ligne par rapport au bas de l'élément li */
    left: 0; /* Alignement de la sous-ligne sur la gauche */
    /* Longueur de la sous-ligne */
    height: 2px; /* Épaisseur de la sous-ligne */
    width: 375px;
    background-color: rgba(242, 242, 242, 1);
    
     /* Couleur de la sous-ligne */
}

.menu ul li:hover::after {
    background-color: #0065FC; /* Changer la couleur de la ligne lorsqu'il est survolé */
}
.introduction {
    width: 335px;/* faut l'enlever et trouver une solution pour mettre le continu au milieu*/
    margin:  auto; /* Centrer la section horizontalement */
    gap:35px;
}

.titre-filtre {
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;  
}
.lien {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.lienfiltre {
    width: 162px;
    

}
.texte {
    text-align: center; /* Centre le texte horizontalement */
    line-height: 100px; /* Aligne verticalement le texte au centre (en fonction de la hauteur de la bordure) */
}
.filtre h3 {
    width: 100%;

}
.filtre a {
font-size: 14px;
}

.hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse; /* Inverser l'ordre des éléments */
      }
.populaires-cards {
   
    flex-direction: column;
}

.barre-recherche {
    justify-content: center;
}
.barre-recherche .search-button { 
    display: none;
}
.barre-recherche .fa-magnifying-glass {
    height: 49px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 101, 252, 1);
    outline: none;
    border: solid 1px #F2F2F2;
    color:white;
    border-radius: 15px 16px 15px 16px; /* Arrondi uniquement le coin droit */
}
.info {margin-bottom: 0;
}
.populaires-cards a {
    width: 100%;
  }
  .hebergements-and-populaires .populaires {
    border-radius: 0;
}
.hebergements-and-populaires .hebergements {
    background-color: initial;
}
.hebergements .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre avec un léger flou */

}
/****Activité*****/

.activite .activite-cards {
    justify-content: center;
    align-items: center;

}
.card-act {
    width: 315px;
   height : 200px;
     }
.image-activite {
    width:100%;
    height:  141px;
}
/*********footer******/
.footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:30px;

}



}
